<div class="books index">
  <h2>Book Collection</h2>
  <% if flash[:notice].present? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <hr>
  <%= link_to("Add New book", new_book_path, class: 'action new') %>

  <table class="listing" summary="book list" style="width: 100%;">
    <tr class="header">
      <td><h3>Title</h3></td>
      
      <td><h3>Actions</h3></td>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td class="actions">
        <%= link_to("Show", book_path(book), class: 'action show') %>
        <%= link_to("Edit", edit_book_path(book), class: 'action edit') %>
        <%= link_to("Delete", delete_book_path(book), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
  
</div>
